@media only screen and (max-width:650px) {
    #project{
        display: block;
    }
    .titlebox {
        border-radius: 0 0 0 0;
        width: 96%;
        font-size: 10px;
        text-align: center;
    }

    #resume {
        font-size: small;
    }

    #intro {
        align-self: center;
        text-align: center;
        padding-left: 25%;
        font-size: 20px;
    }

    #d1 {
        margin-top: -1%;
    }

    #section1 {
        flex-direction: column;
    }

    #webdesign {
        width: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .commentbox li {
        flex-direction: column;
        align-items: center;
    }

    footer {
        width: 100%;
        height: 100%;
    }
    .socialmedia{
    height: 8vw;
    }
    

    #note {
        display: block;
        color: var(--black);
    }

    #solo tr{
        grid-template-columns: 10% auto 20%;
        word-wrap: break-word;
    }
        #team tr{  grid-template-columns: 20% 30% 30% 20%;}
    
   
    .description {
        display: none;
    }

    #contactme {
        flex-direction: column;
    }
    .pagesection{
        height: 5vw;
        font-size: 4vw;
    }
    .socialmedia:hover {
        transform: translateX(-4vh);
        transition: 1s;
        box-shadow: 0vw 0vw 0vw 0vw var(--text);
    }
    .container button{
        font-size: 4vw;
        width: 20vw;
        height: 10vw;
    }
    input:active .container{
        position: absolute;
    }
    /* padding: 2vw; */
    input,
    textarea {
        font-size: 3vw;
        height: 8vw;
    }

    textarea {
        height: 30vw;
    }

    .card{
        border-radius: 1vh;
        font-size: 3vh;
    }
}

@media only screen and (max-width:450px) {
    input,textarea {
            font-size: 3vw;
        }
}