@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Mukta:wght@200&family=Titan+One&display=swap');


#d1 {
    height: 100%;
    width: 100%;
    z-index: -1;
}

#section1{
    display: flex;

}
.titlebox{
    padding: 2%;
    background-color: var(--white);
    color: var(--black);
    width: 50%;
    height: auto;
    margin-right: 2%;
    border-radius: 1vh 20vh 20vh 1vh;
}
.titlebox h1{
    /* ----Fonts---------------------- */
    font-family: 'Montserrat',sans-serif;
    font-size: 7vh;
    font-weight: 800;
    padding: 1%;
    max-width:50%;
    align-items: center;
}

.titlebox p{
        padding: 2%;
        font-family: 'Mukta', sans-serif;
        text-align: center;
        text-decoration: solid;
}

.titlebox button{
    padding: 1%;
    margin-left: 40%;
    background-color: var(--basecolor);
}
.titlebox button:active{
    border-radius: 25vh;
    box-shadow: .5vh .5vh .5vh 0 var(--shadow);
    filter: brightness(80%);
    transition: 1s;
}

#webdesign{
    transform: rotate3D(2,2,0,45deg);
    align-self: center;
    filter:contrast(20vh);
    width: 40%;
    height: 30%;
    margin-left: auto;
    margin-right: 2%;
    box-shadow: 1vh 1vh 1vh 0vh var(--shadow);
}
#webdesign:hover{
    filter: none();
}

#frontpage{
    width: 100%;
    margin-top: 5%;
    margin-bottom: -1%;
}

.pagesection{
    align-self: center;
    text-align: center;
    padding: 2%;
    font-size: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--basecolor);
    color: var(--text);
}

#note{
    display: none;
}